<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body style="font-family: verdana;font-size:100%;">
        <div align="center">
            <%= image_tag(attachments['Pastas.jpg'].url, size: "200x200") %>
            <h1> ¡Haz creado una publicación! </h1>
        </div>

        <div align="center">
            <h2> <%= @publication.try.name %> </h2>

            <p>
                <h3>
                    <%= truncate(@publication.try.description, lenght:45) %>
                    <%= link_to "Leer más", publication_url(@publication.try) %>
                </h3>
            </p>
            </div>
    </body>
</html>