<!DOCTYPE html>
<html>
    <head>
        <title>Certificado</title>
        <%= wicked_pdf_stylesheet_link_tag 'certificate' %>
        <meta charset="utf-8">

    </head>
    <body>
    <div>
        La honorable Corporación del Cabildo Indígena del Pueblo de los Pastos en uso de sus facultades
        legales que le confiere el Derecho Mayor, la Ley de Origen, la Ley Natural, el Convenio 169 de la
        OIT, la Ley 89 de 1989, la Constitución Política de 1991, la Declaración de las Naciones Unidas
        sobre los derechos de los Pueblos Indígenas, la Ley 21 de 1991, el Decreto 543 de 2011 que adopta
        la Política Pública para los Pueblos Indígenas en Bogotá D.C, el Decreto 612 de 2015 "Por el cuál
        se crea el Consejo Consultivo y de Concertación para los Pueblos Indígenas en Bogotá D.C" y demás
        normas que defienden los derechos de los pueblos indígenas de Colombia.
    </div>
    
    <%= @user.name %>

    </body>
</html>